<header>
  <div id="logo">
    <img src="assets/images/logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>

        <!--use of Attribute Selector!!-->
        <button appButton>
          <span ngProjectAs="[buttonText]" class="me-2">  <!--ngContent is new, better than use select=[]-->
            Logout
          </span>
          <span buttonIcon>
            <i class="bi bi-arrow-right-circle-fill"></i>
          </span>
        </button>

      </li>
    </ul>
  </nav>
</header>
