
<app-header></app-header>

<main>
  <div id="dashboard">

    <div class="dashboard-item">
      <app-dashboard-item  [image]="{src: 'assets/images/status.png', alt: 'A signal symbol'}"  [title]="'Server Status'" >
        <app-server-status></app-server-status>
      </app-dashboard-item>
    </div>

    <div class="dashboard-item">
      <app-dashboard-item  [image]="{src: 'assets/images/globe.png', alt: 'A globe'}" [title]="'Traffic'">
        <app-traffic></app-traffic>
      </app-dashboard-item>
    </div>

    <div class="dashboard-item">
      <app-dashboard-item  [image]="{src: 'assets/images/list.png', alt: 'A list of items'}" [title]="'Support Tickets'">
        <app-tickets></app-tickets>
      </app-dashboard-item>
    </div>

  </div>
</main>
