<form (ngSubmit)="onSubmit(titleTemplateVar.value, requestTemplateVar.value, form)" #form> <!--send the 2 variables at the submit-->

  <app-control [labelFieldForm]="'Title'" class="form-group mb-2">   <!--labelFieldForm="Title" is without typescript-->
    <!-- <label for="title" class="form-label">Title</label> -->
    <input type="text" name="title" id="title" class="form-control" #titleTemplateVar #input> <!--value input transformated in variable-->
  </app-control>

  <app-control [labelFieldForm]="'Request'" class="form-group mb-2">
    <!-- <label for="request" class="form-label">Request</label> -->
    <textarea type="text" rows="4" name="request" id="request" class="form-control" #requestTemplateVar #input></textarea>
  </app-control>


  <!--use of Attribute Selector!!-->
  <button appButton class="mt-2" type="submit" #btn>
    <span ngProjectAs="[buttonText]" class="me-2">
      Submit
    </span>
    <span buttonIcon>
      <i class="bi bi-arrow-right-circle-fill"></i>
    </span>
  </button>

</form>
